@charset "utf-8";

/**  覆盖全局样式   **/
body {

	font-size: 12px;
	padding:0px; 
	margin:0px; 
}
.wrap_center { 
	margin:  10px auto;
	margin-top:94px;
	border:1px solid #d6d6d6;
	width: 600px;
	background:#fff;
	min-height: 180px; /** for ff2+, ie7+  **/
	_height:  174px; /** for ie6  **/
}
.error_title {  border-bottom:1px solid #c7c7c7; }
.error_title h2{ font-size:14px; font-weight:bold; color:#000; text-align:left; text-indent:15px;}
.error_detail{
	margin:  10px auto;
	padding-top: 10px;
	padding-left: 20px;
	vertical-align: middle;
	height: 80px;
	min-height: 80px; /** for ff2+, ie7+ **/
	_height: 74px; /** for ie6 **/
		
}
.error_goback {
	font-size: 12px;
	font-weight: bold;
	margin:  20px auto;
	vertical-align: middle;
	text-align: center;
}
