<?xml version="1.0" encoding="UTF-8"?>
<!-- http://logging.apache.org/log4j/2.x/manual/configuration.html  -->
<Configuration monitorInterval="60" status="info">
	<Properties>
		<property name="filePattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %c{1.} [%p] %msg%n</property>
		<property name="stdoutPattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</property>
		<property name="patternNoTime">%msg%n</property>
	</Properties>
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout>
                <pattern>${stdoutPattern}</pattern>
            </PatternLayout>
		</Console>
		<RollingFile name="logfile"
			fileName="appframework.log" filePattern="appframework.%i.gz">
			<PatternLayout>
				<pattern>${filePattern}</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<root level="info">
			<appender-ref ref="stdout" />
			<appender-ref ref="logfile" />
		</root>
	</Loggers>
</Configuration>